<app-top-nav [isLogedIn]="true"></app-top-nav>

<div class="con" >
   
</div>
<mat-card class="example-card">
<img mat-card-image src="{{imageUrl}}" alt="Photo of a Shiba Inu">
    <mat-card-content>

      <mat-spinner style="margin-left: 150px;" *ngIf="isLoading"></mat-spinner>
      <p>
        {{imageText}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <input type="file" (change)="onUpload($event)" #upload style="display: none;" />
        <button (click)="upload.click()" mat-raised-button color="primary" style="margin-left: 100px;">Select Image</button>
        <button (click)="getResult()" mat-raised-button style="background-color: greenyellow;">Extract</button>
        
    </mat-card-actions>
  </mat-card>
